<!--#begin list -->

<form method="post" action="{ babPhpSelf }" name="listform">
<input type="hidden" name="tg" value="addon/mailspooler/mailspool" />
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="list" />
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ t_mail_subject } </td>
			<td>{ t_mail_date }</td>
			<td align="center">
				<a href="javascript:onCheckAll('mail', true)"><img src="{ babSkinPath }images/Puces/Pucecheked.gif" alt="{ checkall }" border="0" /></a><a href="javascript:onCheckAll('mail', false)"><img src="{ babSkinPath }images/Puces/PuceUncheked.gif" alt="{ uncheckall }"  border="0" /></a>
			</td>
		</tr>
		<!--#in getnext --> 
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td title="{ error_msg }"><a href="?tg=addon/mailspooler/main&idx=mail.display&mail={ id }">{ mail_subject }<br />
				<!--#if error_msg -->
				<img src="{ babSkinPath }images/addons/mailspooler/error.png" alt="" style="vertical-align:middle;" /> { error_msg }
				<!--#endif error_msg -->
				<!--#if waiting -->
				<img src="{ babSkinPath }images/addons/mailspooler/info.gif" alt="" style="vertical-align:middle;" /> { t_waiting }
				<!--#endif waiting -->
				
				</a><br />
				<span>{ recipients }</span>
			</td>
			<td>{ mail_date }</td>
			<td align="center">
				<input type="checkbox" name="mail[]" value="{ id }" />
			</td>
		</tr>
		<!--#endin getnext --> 
		</table>
	</td>
</tr>
</table>
<br />
	<div align="center">
		<input type="submit" name="send" value="{ t_send }" /> 
		<input type="submit" name="delete" value="{ t_delete }" />
	</div>
<br />
</form>

<!--#end list -->